body{
    background-color: #000506;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

html, body{
    padding: 0px;
    margin: 0px;
}

.text{
    color: white;
}

.intro-wrapper{
   position: relative;
   top: 50%;
   transform: translate(0,-50%);
   text-align: center;
}

.pages{
    transition: opacity 1s ease;
    opacity: 0;
}

.page-opened{
    opacity: 1;
}

.intro-wrapper a{
    color: #4F7379;
    transition: 250ms;
}

.intro-wrapper a:hover{
    color: white;
}

.intro-wrapper button{
    height: 30px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #385A5C;
    transition: 250ms;
    line-height: 0px;
}

.intro-wrapper button:hover{
    cursor: pointer;
    background-color: white;
    color: #385A5C;
}

.texturina{
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 5px;
  font-style: normal;
}






.events::before{
    content:"";
    position: absolute;
    height: 10px;
    top: 10vh;
    width: 100%;
    background: rgb(255, 255, 255);
}
.events{
    position: relative;
    margin: .5em;
    display: flex;
    flex-direction: row;
    row-gap: 1em;
}
.content time{
    font-weight: bold;
}

.event-wrapper{
    display: flex;
    align-items:baseline;
    position: absolute;
}
.event-wrapper .marker{
    position: absolute;
    top: calc(10vh - 10px);
    fill: white;
}
.content{
    position: relative;
    top: calc(10vh - 30px);
    left: -6px;
}
.event-wrapper p{
    margin-top: 30px;
    width: 70px;
    font-size: 15px;
}
#page2{
    height: 100vh;
}
#page2 .intro-wrapper{
    align-items: center;
    top: 40%;
}

.highlight{
    color: #FEF2AB;
}

/*colors:
#385A5C <- darker blue
#4F7379 <- lighter blue
#E5D098 <- darker yellow
#FEF2AB <- lighter yellow
/*